RewriteEngine on
RewriteBase /
RewriteRule ^resume/?$ /resume.pdf [NC]
RewriteRule ^error/?$ /error.html [NC]
RewriteRule ^jessie/?$ /jessie.html [NC]
ErrorDocument 404 /error.html 
ErrorDocument 403 /error.html  
ErrorDocument 500 /error.html
#
